# Django and Wagtail dependencies
Django
wagtail
wagtail[redis]

# Database
psycopg2-binary

# Production server
gunicorn

# Static files
whitenoise

# Environment variables
python-decouple

# Image processing
Pillow

# Development dependencies
django-debug-toolbar
django-extensions

# Testing
pytest
pytest-django
pytest-cov

# Code quality
black
flake8
isort

# Documentation
mkdocs
mkdocs-material
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
pymdown-extensions
